  .row{
      margin-bottom: 3%;
  }

  .btn{
    border: 0;
    display: block;
    text-align: center;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
    color: white;
  }
  .btn:hover{
    font-size: medium;
    background: #000;
    color: #fff;
}
