<app-menu></app-menu>
<html lang="en">

<body>
  <div class="container">
    <div class="login-container-wrapper clearfix">
      <div class="logo">
        <i class="fa fa-user" style="color:white"></i>
      </div>

      <div class="welcome"><strong>Welcome,</strong> please login</div>
      <form class="form-horizontal login-form">
        <div class="form-group relative">
          <input id="email" class="form-control input-lg" type="email" name="username" [(ngModel)]="username"
            placeholder="Username" required>
          <i class="fa fa-user"></i>
        </div>
        <div class="form-group relative password">
          <input id="password" class="form-control input-lg" type="password" name="password" [(ngModel)]="password"
            placeholder="Password" required>
          <i class="fa fa-lock"></i>
        </div>
        <div class="form-group">
          <p *ngIf="invalidLogin==true" style="color: red; text-align: center;">Invalid login or password</p>
          <button (click)=checkLogin() type="submit" class="btn btn-success btn-lg btn-block">Login</button>
        </div>
        <div class="checkbox pull-right">
          <label> <a class="forget" href="http://localhost:4200/register" title="Register">New user? Register</a>
          </label>
        </div>
      </form>
    </div>
  </div>
</body>

</html>