<div class="container-fluid">
  <div class="row">
    <div class="col-8 offset-2 view">
      <div class="card">
        <h1>{{product.name}}</h1>
        <img src="{{product.retrievedImage}}">
        <div class="container-fluid">

          <div class="row">
            <div class="col-6">
              <p>Category</p>
            </div>
            <div class="col-6">
              <p>{{product.category}}</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-6">
              <p>Description</p>
            </div>
            <div class="col-6">
              <p>{{product.description}}</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-6">
              <p>Price</p>
            </div>
            <div class="col-6">
              <p>{{product.price}}</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-6">
              <p>Quantity</p>
            </div>
            <div class="col-6">
              <p>{{product.quantity}}</p>
            </div>
          </div>
          <hr>
          
          <div class="row" style="margin-bottom: 3%">
            <div class="col-6">
              <button class="btn btn-dark" (click)="editProduct()">edit</button>
            </div>
            <div class="col-6">
              <button class="btn-del btn btn-danger" (click)="deleteProduct()">delete</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>